


#fh{
  font-family: 'Orbitron', sans-serif;
}



#lorem{
  font-family: 'Josefin Slab', serif;
font-family: 'Orbitron', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav style */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
   font-size: 20px;
  height: 60px;
}

.logo {
  color: rgb(14, 7, 114);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: bold;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgb(14, 7, 114);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px;
}

.nav-links a:hover {
  color: #ffeead;
}

/* main img style */
.main-img {
  margin-left: 0px;
  width: 1349px;
  margin-bottom: 50px;
}

/* text style */
section p {
  height: 300px;
  width: 500px;
  text-align: left;
  margin-left: 30px;
 
  margin-top: 50px;
  color: rgb(11, 7, 67);
  font-size: 28px;
  
}

/* the image next to text */
#img2-ul {
  display: flex;
}

.img2-li {
  width: 400px;
  margin-left: 100px;
}

footer {
 
  height:0px;
}


.container {
  width: 600px;
  height: 600px;
}
.container img {
  width: 100%;
  height: auto;
}
#math{
  height: 250px;
  width: 250px;
  margin-left: 130px;
  margin-top: 20px;
}
#sci{
  height:250px;
  width: 250px;
  margin-left: 570px;
  margin-top: -220px;
 
}

#lang{
  height:250x;
  width: 250px;
  margin-left: 1000px;
  margin-top: -260px;
}

#prog{
  height: 250px;
  width: 250px;
  margin-left: 130px;
  margin-top: 40px
}

#fun{
  height:250x;
  width: 250px;
  margin-left: 570px;
  margin-top: -220px;
}

#geog{
  height:250x;
  width: 250px;
  margin-left: 1000px;
  margin-top: -160px;
}

/* * {
  margin: 0;
  padding: 0;
  /* any paragraph*/
/* font-family: 'Caveat', cursive; */
/* header font 
  font-family: 'Knewave', cursive;
}
.header {
  height: 100px;
  background-color: #ffcc5c;
  padding:0 20px;
  color: black;

}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;

}
.menu{
  float: right;
  line-height: 100px;

}
.menu a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
 
}
.show-menu-btn , .hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
  

}

.show-menu-btn{
  float: left;
 
}
.show-menu-btn i{
  
  line-height: 100px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: 	#ffeead;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;

} */
